.chat__write {
  display: flex;
  position: fixed;
  bottom: 50px;
  width: 80%;
  background-color: red;
  padding: 20px;
  margin: 0 auto;
  left: 0;
  right: 0;
  border-radius: 40px;
  box-shadow: ;
}
