.chat__write {
  display: flex;
  position: fixed;
  bottom: 50px;
  width: 80%;
  background-color: #f7f7f7;
  padding: 0px 20px;
  margin: 0 auto;
  left: 0;
  right: 0;
  border-radius: 40px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  justify-content: space-between;
  align-items: center;
}

.chat__write-column:nth-child(2) {
  width: 80%;
}

.chat__write-icon i {
  font-size: 22px;
}

.chat__write-column input {
  width: 100%;
  padding: 20px 10px;
  font-size: 14px;
  border: none;
}

.chat__write-column input:focus {
  outline: none;
}

.chat {
  background-image: url("../images/white-waves.png");
  min-height: 1000vh;
}

.chat-body {
  padding: 10px 0px;
}

.chat-body .status-bar,
.chat-body .header-bar {
  padding: 0px 20px;
}

.chat .chat__messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #f7f7f7;
  padding: 0px 20px;
  padding-top: 30px;
}

.chat .chat__timestamp {
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
}

.messages {
  display: flex;
  align-items: center;
}

.incoming-messages img {
  width: 45px;
  border-radius: 18px;
  margin-right: 15px;
}

.incoming-messages {
  align-self: flex-start;
  position: relative;
}

.sent-messages {
  align-self: flex-end;
  position: relative;
}

.messages .messages__bubble {
  padding: 10px 20px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.incoming-messages .messages__timestamp {
  position: absolute;
  font-size: 12px;
  right: 0;
  bottom: 0;
  margin-right: -30.64px;
}

.sent-messages .messages__timestamp {
  position: absolute;
  font-size: 12px;
  left: 0;
  bottom: 0;
  margin-left: -30.64px;
}

.sent-messages .messages__author {
  visibility: hidden;
}
