.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend .friend__avatar {
  width: 42px;
  border-radius: 40%;
}

.friend__avatar.g-avatar {
  width: 59px;
}

.friend__avatar.m-avatar {
  width: 49px;
}

.friend .friend__column {
  display: flex;
  align-items: center;
}

.friend .friend__avatar {
  margin-right: 15px;
}

.friend .friend__name {
  font-size: 18px;
}

.friend .chat__timestamp {
  font-size: 12px;
  opacity: 0.8;
}
