.header {
  background-color: red;
}

.main {
  background-color: blue;
}

.footer {
  background-color: yellow;
}

.aside-one {
  background-color: green;
}

.aside-two {
  background-color: rgb(125, 252, 125);
}

.ads {
  background-color: purple;
}

.container {
  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "header header header header"
    "main main aside-one"
    "footer footer footer";
}

.header {
  grid-area: header;
}
.main {
  grid-area: main;
}
.aside-one {
  grid-area: aside-1;
}

.footer {
  grid-area: footer;
}

.ads {
  grid-area: ads;
}

.aside-two {
  grid-area: aside-2;
}
